html,
body {
  overflow-x: hidden;
}

body {
  background-color: #f4f4f4;
}

.sidebar {
  padding-top: 40px;
}

@media screen and (min-width: 992px) {
  .sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sidebar-heading {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.sidebar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.sidebar-heading a:hover {
  border-bottom: dotted 1px #ef5285;
  color: #000;
  text-decoration: none;
}

.sidebar-intro {
  color: #999;
  font-size: 14px;
}

.sidebar-menu {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 40px;
}

.sidebar-menu li {
  margin-bottom: 5px;
}

.sidebar-menu li a {
  color: #555;
}

.sidebar-menu li:before {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 5px 0 -15px;
  color: #999;
}

.sidebar-menu li.is-active a {
  color: #ef5285;
  font-weight: bold;
}

.sidebar-menu li.active:before {
  color: #ef5285;
}

.sidebar-menu li:hover a {
  text-decoration: none;
  color: #ef5285;
}

.sidebar-menu li:hover:before {
  color: #ef5285;
}

/**************************************/

p.social {
  margin-top: 20px;
}

p.social a {
  margin: 0 10px 10px 0;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  border: solid 1px #999;
  color: #999;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

p.social a:hover {
  color: #ef5285;
  border-color: #ef5285;
}

p.social a i {
  vertical-align: bottom;
  line-height: 40px;
}

p.social.social--outline a {
  background: transparent;
}

p.social.social--outline a.facebook {
  color: #4460ae;
  border-color: #4460ae;
}

p.social.social--outline a.gplus {
  color: #c21f25;
  border-color: #c21f25;
}

p.social.social--outline a.twitter {
  color: #3cf;
  border-color: #3cf;
}

p.social.social--outline a.instagram {
  color: #cd4378;
  border-color: #cd4378;
}

p.social.social--outline a.email {
  color: #4a7f45;
  border-color: #4a7f45;
}

p.social.social--outline a.link {
  color: #871aff;
  border-color: #871aff;
}

p.social.social--big a {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  line-height: 60px;
  font-size: 25px;
}

p.social.social--big i {
  line-height: 60px;
}

.copyright {
  color: #999;
  font-size: 13px;
}

.copyright p.credit {
  margin-bottom: 10px;
}

.copyright p.credit a {
  color: #999;
}

@media (max-width: 991px) {
  .copyright p.credit {
    text-align: center !important;
  }
}

@media (max-width: 991px) {
  .copyright {
    text-align: center !important;
  }
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
}

.content-column {
  padding-top: 40px;
}

.box-masonry {
  background: #fff;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-masonry h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.box-masonry h4 a {
  color: #000;
  border-bottom: solid 1px transparent;
}

.box-masonry h4 a:hover {
  border-bottom: dotted 1px #9055a2;
  color: #000;
  text-decoration: none;
}

.box-masonry .box-masonry-text {
  padding: 15px 20px 15px;
}

.box-masonry .box-masonry-text p {
  color: #999;
  font-size: 14px;
}

.box-masonry .box-masonry-hover-text-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 20px 15px;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  color: #555;
}

.box-masonry .box-masonry-hover-text-header p {
  font-size: 14px;
}

.box-masonry .box-masonry-hover-text-header h4 a {
  color: #555;
}

.box-masonry .box-masonry-hover-center {
  position: absolute;
  width: 100%;
  top: 30%;
  opacity: 0;
  padding-left: 20px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: center;
}

.box-masonry .box-masonry-hover-center .see-more-icon {
  color: #555;
  font-size: 50px;
}

.box-masonry:hover {
  box-shadow: 0 0 5px #999;
}

.box-masonry:hover .box-masonry-hover-text-header {
  opacity: 1;
}

.box-masonry:hover .box-masonry-hover-center {
  opacity: 1;
}

.box-masonry:hover .box-masonry-image.with-hover-overlay:before {
  opacity: .8;
}

.box-masonry:hover .box-masonry-image.with-hover-icon:after {
  opacity: .7;
}

.box-masonry h2:last-child,
.box-masonry p:last-child {
  margin-bottom: 0;
}

.box-masonry .box-masonry-image {
  display: block;
  position: relative;
  min-height: 100px;
  background: #ccc;
}

.box-masonry .box-masonry-image.with-hover-overlay:before {
  display: block;
  position: absolute;
  content: " ";
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.box-masonry .box-masonry-image.with-hover-icon:after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  font-family: 'FontAwesome';
  content: '\f105';
  text-align: center;
  font-size: 50px;
  color: #555;
}

.box-masonry .box-masonry-image:hover {
  text-decoration: none;
}

.box-masonry img {
  width: 100%;
}

